* {
    font-family: Lexend, Calibri, Verdana, Geneva, Tahoma, sans-serif;
}
:root {
    --lightBlue:#67b4f3;
    --darkGray: #44444c;
    --lightGray: #8c8c8c;
    --black: #0b0909;
    --gunmetal: #31393c;
    --white:#f5ebf4;
}

body{
    text-align: center;
    font-size: 22px;
    background-color: var(--lightBlue);
    color: var(--gunmetal)
}

.mainHeader{
    margin-top: 0px;
    padding-top: 0px;
    text-align: center;
    padding-left: 0px;
}

.mainHeader h1{
    font-size: 100px;
    margin-bottom: 0px;
    color: var(--gunmetal);
}
.mainHeader h3{
    font-size: 50px;
    color: var(--darkGray);
}

.skillsSection li{
    list-style: none;
    padding-right: 10%;
}

h3{
    font-size: 50px;
    color: var(--black)
}

a:link{
    color:var(--lightBlue);
}

a:visited{
    color:var(--black);
}

a:hover{
    color:var(--darkGray);
}
nav {
    background-color: var(--black);
    margin: 0;
    padding: 0;
    border: 1px solid var(--lightBlue);
}
.projectsSection{
background-color: var(--darkGray);
    color: var(--gunmetal);
    box-shadow: 1px 1px 1px 0px black;
}

.projects{
    background-color: var(--lightGray);
    color: var(--gunmetal);
    border: 1px solid var(--black);
    box-shadow: 1px 1px 1px 0px black;
    margin-right: 2.5%;
    margin-left: 2.5%;

}
.skillsSection {
    margin-right: 4%;
    background-color: var(--darkGray);
    color: var(--gunmetal);
    box-shadow: 1px 1px 1px 0px black;
}
#skillsList {
    background-color: var(--lightGray);
    color: var(--white);
    box-shadow: 1px 1px 1px 0px black;
    margin-right: 2.5%;
    margin-left: 2.5%;
}
#otherSkills {
    background-color: var(--lightGray);
    color: var(--white);
    box-shadow: 1px 1px 1px 0px black;
    margin-right: 2.5%;
    margin-left: 2.5%;
}
.aboutMeSection {
    background-color: var(--darkGray);
    color: var(--black);
    box-shadow: 1px 1px 1px 0px black;
}
#aboutMeText {
    background-color: var(--lightGray);
    color: var(--white);
    box-shadow: 1px 1px 1px 0px black;
    margin-right: 2.5%;
    margin-left: 2.5%;
}
#myPhoto {
    background-color: var(--lightGray);
    color: var(--white);
    border: 25px solid var(--darkGray);
    margin: 2.5%;
}
#plateUpLogo {
    height: 10em;
    align-items: center;
}
#plateUpGame {
    height: 13em;
    align-items: center;
}